<!DOCTYPE html>
<html>
<head>
    <title>Game Lobby</title>
</head>
<body>
    <h1>Game Lobby</h1>

    <!-- Form for creating a new game -->
    <form method="post" action="{% url 'game-lobby-view' %}">
    {% csrf_token %}
    {{ create_game_form.as_p }}
    <button type="submit">Create Game</button>
</form>

<h2>Available Games</h2>
<ul>
    {% for game in available_games %}
        <li>
            {{ game }}
            {% if not game.is_full and game.is_active %}
                <form method="post" action="{% url 'game-detail-view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    <button type="submit">Join Game</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>


