/* Общие стили для страницы */
head {
  font-size:24px;
  margin-right: 0px;
  margin-top: 20px;
  color:#006699;
}
body {

    float: left;
    font-family: Arial, sans-serif;
    background-color: #312e2b;
    margin: 0;
    padding: 0;
  }
  
    .double-border-button {
      text-decoration: none;
      display: inline-block;
      margin: 10px 20px;
      padding: 10px 30px;
      position: relative;
      border: 2px solid #b2e068;
      color: #5d9948;
      font-family: 'Montserrat', sans-serif;
      transition: .4s;
    }
    .index-intro{
       align-items: center;
       display: flex; 
       flex-direction: column;
       padding: 0 1.6rem;
       width: 100%; 
    }
    .index-title {      
      color:#fff;  
      text-align: right;
      margin-bottom: 0;  
      padding: 2.7rem 0 2.5rem  
    }
    
    
    

  
  / Стили для заголовка /
h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  

  
  
  
  